<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WhatsApp Chat</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <header>
        <form action="/chats/new" class="new-chat-btn">
            <button type="submit">New Chat</button>
        </form>
    </header>
    
    <main>
        <div class="chat-container">
            <% for(let chat of allChats) { %>
                <div class="chat-bubble <%= chat.from === 'Me' ? 'from-me' : 'from-them' %>">
                    
                    <p class="chat-meta">
                        <span>from:</span> <%= chat.from %> | <span>to:</span> <%= chat.to %>
                    </p>
                    <p class="message">
                        <form action="/chats/<%= chat._id %>/edit" class="edit-form">
                            <%= chat.msg %> 
                            <button type="submit" class="edit-btn" aria-label="Edit Chat">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="edit-icon">
                                    <path d="M15.7279 9.57627L14.3137 8.16206L5 17.4758V18.89H6.41421L15.7279 9.57627ZM17.1421 8.16206L18.5563 6.74785L17.1421 5.33363L15.7279 6.74785L17.1421 8.16206ZM7.24264 20.89H3V16.6473L16.435 3.21231C16.8256 2.82179 17.4587 2.82179 17.8492 3.21231L20.6777 6.04074C21.0682 6.43126 21.0682 7.06443 20.6777 7.45495L7.24264 20.89Z"></path>
                                </svg>
                            </button>
                        </form>
                    </p>
                    <form action="http://localhost:8080/chats/<%= chat._id %>?_method=DELETE" method="post" class="delete-form">
                        <button type="submit" class="delete-btn"><svg  class = "delete-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" ><path d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 4V6H15V4H9Z"></path></svg></button>
                    </form>
                    <p class="date"><%= new Date(chat.date).toLocaleString() %></p>
                </div>
            <% } %>
        </div>
    </main>
</body>
</html>
