<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/showPost.css" />
    <title><%= username %></title>
  </head>
  <body>
    <h1>@ <%= username %></h1>
    <h3>Post</h3>
    <div class="cont">
      <h4 style="color: #fffff0">Post ID: <%= id %></h4>
      <div class="post">
        <a href="http://localhost:8080/posts/edit/<%= id %>"
          ><button>Edit</button></a
        >
        <p><%= content %></p>
      </div>
      %>
    </div>
  </body>
</html>
